.box{
    background-color: "#DCDCDC";
    box-shadow: 24;
}

.boxContent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-content: center;
}

.buttonStyle {
    margin-left: 20px;
}